.root{
    -fx-background-color: #393939;
}

.label {
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.button {
    -fx-background-radius: 0;
     -fx-background-color: #262626;
}

.button:hover {
    -fx-background-colo: #262626;
}